<ion-view class="itemView" view-title="{{item.title}}" ng-style="{ 'background-color': item.color }">
<ion-content class="" overflow-scroll="true"><center>
<h1>Admission Procedure</h1>
<h2><strong>B.Tech Admission Procedure</strong></h2>

<p>- A pass in +2 Science with Mathematics, Physics &amp; Chemistry / Biology / Biotechnology / Computer Science<br> - A minimum of 45% (Aggregate) in Physics, Mathematics &amp; Chemistry /Biology /Biotechnology /Computer Science is a must.</p>
<p>For admission into 1st year B.Tech programme a student has to appear Joint Entrance Examination (JEE-Main) conducted by CBSE. For details see www.jeemain.nic.in. As it stands now Govt. of Odisha is not going to conduct OJEE, hence JEE (Main) entrance is the only roadway to take admission into 1st year B.Tech Programmes offered by us.</p>
<p>Exams shall be held online or offline as per the choice of the student. JEE (Main) authorities shall publish two merit lists. One all India merit list the other for Odisha state candidates only. 70% of the seats shall be filled up in Govt. of Odisha counseling, taking students from the Odisha merit list. Around 25% of the seats shall be open for all India merit list, where students of Odisha and pan India can compete.</p>
<p>In order to be considered for admission in GIET, Gunupur, with a valid JEE (Main) rank, under the NRI quota and Balance seat category, one has to send a State Bank of India A/C payee demand draft for Rs. 500/- in favour of -GIET, Gunupur, towards the cost of prospectus and application form. The filled in application form along with photo copies of certificates are to be sent by Registered post to:<br> The Dean Administration, Gandhi Institute of Engineering and Technology<br> Post: GUNUPUR-765022, Dist.: Rayagada (Odisha), India</p>
<p>B.Tech (Under Graduate) in-take strength is:</p>
<table border="2" cellspacing="3" cellpadding="3">
<tbody>
<tr>
<td><strong>S.No.</strong></td>
<td><strong>B.Tech Discipline</strong></td>
<td><strong>No. of Student Intake</strong></td>
</tr>
<tr>
<td>1.</td>
<td>Biotechnology</td>
<td>30</td>
</tr>
<tr>
<td>2.</td>
<td>Electronics &amp; Communication Engineering</td>
<td>120</td>
</tr>
<tr>
<td>3.</td>
<td>Electronics &amp; Instrumentation Engineering</td>
<td>60</td>
</tr>
<tr>
<td>4.</td>
<td>Electrical &amp; Electronics Engineering</td>
<td>120</td>
</tr>
<tr>
<td>5.</td>
<td>Mechanical Engineering</td>
<td>180</td>
</tr>
<tr>
<td>6.</td>
<td>Computer Science &amp; Engineering</td>
<td>180</td>
</tr>
<tr>
<td>7.</td>
<td>Chemical Engineering</td>
<td>60</td>
</tr>
<tr>
<td>8.</td>
<td>Electrical Engineering</td>
<td>120</td>
</tr>
<tr>
<td>9.</td>
<td>Metallurgical Engineering</td>
<td>60</td>
</tr>
<tr>
<td>10.</td>
<td>Civil Engineering</td>
<td>120</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<h2><strong>Lateral Entry Admission Procedure</strong></h2>
<p>Passed or appeared in 3 years Diploma Engineering Examination from State Council of Technical Education and Vocational Training (SCTE &amp; VT), Odisha / from an AICTE approved Institute / from a recognized University as defined by UGC with at least 45% marks (40% in case of candidates belonging to SC/ST category) in appropriate branch of Engineering / Technology.</p>
<p>The native of Odisha as well as the outside state candidates who have prosecuted their study for the qualifying examination in an Institute in Odisha having approval from the competent authority are eligible for admission under Lateral Entry. But, separate merit list shall be drawn for such outside state candidates and they will be allowed for admission in the remaining vacant seats, if any, after the state merit list is fully exhausted through centralized counseling conducted by the OJEE committee. Results of final diploma examination must be available on the date of document verification during counseling.</p>
<p>Lateral Entry in-take strength is:</p>
<table border="1" cellspacing="3" cellpadding="3">
<tbody>
<tr>
<td><strong>S.No.</strong></td>
<td><strong>B.Tech Discipline</strong></td>
<td><strong>Sanctioned Intake</strong></td>
<td><strong>Lateral Entry</strong></td>
</tr>
<tr>
<td>1.</td>
<td>Biotechnology</td>
<td>30</td>
<td>06</td>
</tr>
<tr>
<td>2.</td>
<td>Electronics &amp; Communication Engineering</td>
<td>120</td>
<td>24</td>
</tr>
<tr>
<td>3.</td>
<td>Electronics &amp; Instrumentation Engineering</td>
<td>60</td>
<td>36</td>
</tr>
<tr>
<td>4.</td>
<td>Electrical &amp; Electronics Engineering</td>
<td>120</td>
<td>24</td>
</tr>
<tr>
<td>5.</td>
<td>Mechanical Engineering</td>
<td>180</td>
<td>36</td>
</tr>
<tr>
<td>6.</td>
<td>Computer Science &amp; Engineering</td>
<td>180</td>
<td>36</td>
</tr>
<tr>
<td>7.</td>
<td>Chemical Engineering</td>
<td>60</td>
<td>12</td>
</tr>
<tr>
<td>8.</td>
<td>Electrical Engineering</td>
<td>120</td>
<td>24</td>
</tr>
<tr>
<td>9.</td>
<td>Metallurgical Engineering</td>
<td>60</td>
<td>12</td>
</tr>
<tr>
<td>10.</td>
<td>Civil Engineering</td>
<td>120</td>
<td>24</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<h2><strong>M.Tech Admission Procedure</strong></h2>
<p>Eligibility Criteria For admission into First Year Master in Technology programme are</p>
<ul>
<li>GATE qualified candidates</li>
<li>Non-GATE qualified candidates having CGPA 6.5 (10 point scale) or 60% marks in B.Tech/BE examination are required to appear at an On-line Test.</li>
<li>GATE qualified candidates or pass or appearing in MCA examination from a recognized university with CGPA 6.5 or 60% marks, eligible only for M. Tech in Computer Science.</li>
</ul>
<p>&nbsp;</p>
<p>M.Tech (Post Graduate) in-take strength is:</p>
<table border="1" cellspacing="3" cellpadding="3">
<tbody>
<tr>
<td><strong>S.No.</strong></td>
<td><strong>M.Tech Discipline</strong></td>
<td><strong>No. of Student Intake</strong></td>
</tr>
<tr>
<td>1.</td>
<td>Computer Science &amp; Engineering</td>
<td>18</td>
</tr>
<tr>
<td>2.</td>
<td>Electronics &amp; Communication Engineering</td>
<td>18</td>
</tr>
<tr>
<td>3.</td>
<td>Power Electronics</td>
<td>18</td>
</tr>
<tr>
<td>4.</td>
<td>Machine Design</td>
<td>18</td>
</tr>
<tr>
<td>5.</td>
<td>Thermal Engineering</td>
<td>18</td>
</tr>
<tr>
<td>6.</td>
<td>Structural Engineering</td>
<td>18</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<h2><strong>M.Sc Admission Procedure</strong></h2>
<p>Admission in Master in Science course is strictly as per aggregate/Honours marks in 10+3 Science Examinations. For consideration of admission into PG. Courses the duly filled application form along with photo copies of all certificates and a demand draft of Rs. 200/- (two hundreds) only in favour of "GIBS, Gunupur" payable at SBI Gunupur (Bank Code 1090) should be submitted in the office or by post. The eligible candidates will be intimated by post/telephone and they have to submit a bank draft of Rs. 10,000/ (Ten thousands) within the stipulated date to ensure admission to the course.</p>
<table border="1" cellspacing="3" cellpadding="3">
<tbody>
<tr>
<td><strong>S.No.</strong></td>
<td><strong>M.Sc Discipline</strong></td>
<td><strong>No. of Student Intake</strong></td>
</tr>
<tr>
<td>1.</td>
<td>Biotechnology</td>
<td>60</td>
</tr>
<tr>
<td>2.</td>
<td>Industrial Biotechnology</td>
<td>30</td>
</tr>
<tr>
<td>3.</td>
<td>Bioinformatics</td>
<td>30</td>
</tr>
<tr>
<td>4.</td>
<td>Mathematics</td>
<td>30</td>
</tr>
<tr>
<td>5.</td>
<td>Computer Science</td>
<td>30</td>
</tr>
<tr>
<td>6.</td>
<td>Electronics</td>
<td>30</td>
</tr>
<tr>
<td>7.</td>
<td>Physics</td>
<td>30</td>
</tr>
<tr>
<td>8.</td>
<td>Chemistry</td>
<td>30</td>
</tr>
<tr>
<td>9.</td>
<td>Life Science</td>
<td>30</td>
</tr>
</tbody>
</table> </br>

<a class="list" href="#" onclick="window.open('http://giet.edu/index.php?option=com_content&view=article&id=102&Itemid=331', '_blank', 'location=yes'); return false;">
                For Complete Details</center></br>
</ion-content>
</ion-view>