<ion-view class="itemView" view-title="{{item.title}}" ng-style="{ 'background-color': item.color }">
<ion-content class="" overflow-scroll="true"><center>
<h1>Why GIET?</h1>
<b> Gunupur is considered as Best Technical College of Eastern India?<b>

<p>Only college in Eastern India to acquire 3.28 CGPA out of 4 CGPA by NAAC (UGC) awarded with "A"Grade for the period of 2008-2013 & again 2015-2020. 
The only college in Odisha having FOURTH time Accreditation from NBA (National Board of Accreditation (AICTE)) 
AE&IE , Mech, Chem, CSE & IT, for exhibiting highest standard in technical education.</p>

<p>Highest Placement Records: 2001 - 68.50%, 2002 - 72%, 2003 - 76.1%, 2004 - 82.85%, 2005 - 86.09%, 2006 - 86.95%, 2007 - 89.97%, 2008 - 92% and 2009 - 94.28%, 2010 - 95.52 % 2011 - 94.92%, 2012- 95%, 2013 - 90.4%, 2014 - 90.42% and 2015 - 94% (target).
</p>
<p>
Rich University Results: An average of 91%, majority of University toppers always from this college. Out of the best ten in 2001, 2002, 2003, 2004, 2005 & 2006 GIET has bagged 6, 6, 4, 5, 8 & 6 positions respectively at Berhampur University final B.E (Bachelor in Engineering) Examinations. Since Academic Year 2003-04 GIET, Gunupur is affiliated to Biju Patnaik University of Technology, Odisha for the courses of B.Tech (Bachelor in Technology).
</p><p>

 <li>  Mr. Ashis Jena (Regd.No. 0401210051) of Biotechnology had secured GOLD MEDAL from BPUT during the session 2004-08.</li>
 <li>  Mr. Sambit Kumar Routray (Regd.no. 0401210061) of Chemical Engineering had secured GOLD MEDAL from BPUT during the session 2004-08.</li>
 <li>  Ms. ROSALIN BISWAL (Regd. No. 0801210245) of Chemical Engineering had secured GOLD MEDAL from BPUT during the session 2008-12.</li>
</p>
<p>
<font color="red">Top Class Faculty:</font> 262 Qualified, Experienced and Dedicated faculty members drawn from premier institutions of India and abroad.</p>
<p>
<font color="red">Attractive Campus:</font> Built aesthetically over 43.05 acres, each building with rare architectural marvel and an international ambience.</p>

<p><font color="red">Uncomparable Infrastructure:</font> 68 Laboratories, 4 state-of-art workshops. 20 high end computer labs and 64 modern classrooms and 7 air-conditioned auditoriums.
</p>
<p><font color="red">High Discipline:</font> 100% ragging free environment with zero loss of working days.</p>
<a class="list" href="#" onclick="window.open('http://giet.edu/index.php?option=com_content&view=article&id=77&Itemid=310', '_blank', 'location=no'); return false;">
                For More  Details
            </a></center>
</ion-content>
</ion-view>