<ion-view class="itemView" view-title="{{item.title}}" ng-style="{ 'background-color': item.color }">
<ion-content class="" overflow-scroll="true"><center>
        
<h1>Admission Assistance for Indian Students</h1>

<b>Prof. (Dr.) N. V. Jagannadha Rao</b></br>
Dean Admin</br>
+916857250170, +919437044170, +919668259219</br>
<font color="red">deanggi@giet.edu</font>
<p>
<b>Prof. Gopal Krushna Mohanty</b></br>
Prof. I/C Admissions</br>
+91-94371-52813</br>
<font color="red">gk@giet.edu, mohanty.gk@gmail.com</font></p>
 <p>
<b>Prof. Prakash Chandra Majhi</b></br>
Prof. I/C Foreign Admissions</br>
+91-97762-62990</br>
<font color="red">pcmajhi@giet.edu, pcmajhigims@gmail.com</font></p>	
<p>
<b>Prof. Deepak Kumar Samal</b></br>
GIET Gunupur Corporate Office</br>
BDA House No. HIG-42A, Baramunda, BHUBANESWAR</br>
+91-674-2354463, +91-94378-32328, +91-9861105092</br>
<font color="red">dksamal@giet.edu, prof.deepaksamal@gmail.com</font></p>
 <p>
<b>Mr. Sumit Kumar</b>
Admission Executive, Bihar
+91-95348-13131 	</p>
<p>
<b>Mr. Sudipta Acharya</b>
Admission Executive
+91-99372-55981</p>
 <p>
<b>Mr. Shantanu Mohanty</b>
Admission Executive
+91-94373-61526 	</p>

<b>Mr. Aditya Kumar Singh</b>
Admission Executive, Jharkhand
+91-90317-53653
</center>
</ion-content>
    
</ion-view>