<ion-view class="homeView" view-title="Home" hide-nav-bar="true">
	<ion-content>
		<div class="row row-center">
			<div class="col col-center text-center">
				<h1 class="animated bounceInDown" on-tap="HelloWorld()">TAP</h1>
				<div id="container" class="animated bounceInLeft" on-tap="showUsers()">
					<div id="bender">
						<img src="img/giet.png" alt="Fry" class="animated">
					</div>
				</div>
				<button class="button button-outline button-block button-light animated bounceInUp" ui-sref="app.gallery">
					ENTER
				</button>
			</div>
		</div>
	</ion-content>
</ion-view>